body
{
	background-color: transparent;
	color:#1c2a37;
	font-family:Vollkorn, serif;
	margin:0 0 20px;
}

.background-image {
  background: url('../images/20170413_082316.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100vw;
  min-height: 95vh;
}

.view-work-btn
{
	border:2px solid #1c2a37;
	color:#1c2a37;
	font-size:1.5em;
	margin:0 auto;
	padding:4px;
	width:150px;
}

.content
{
	color:#1c2a37;
	font-family:Vollkorn, serif;
	height:75%;
	margin-top:1em;
}

.front-page-content
{
	color:#663d00;
	font-family:Vollkorn, serif;
}

h1.front-page-content
{
	font-size:7em;
	margin-top:1em;
}

h3.front-page-content
{
	font-size:3em;
}

.front-page-content-bottom
{
	margin-top:1em;
}
